$white:               #ffffff;
$black:               rgba(0, 0, 0, .87);

$primary:             #1e9adf;
$secondary:           #ff9100;
$navy: #002749;
$green: #1e9f6e;
$red: #c5253a;
$warning:           #ff9100;


$body-color:            rgba($navy, .7);
$heading-color:         $navy;

$brand:                 $primary;
$brand-active:          darken($brand, 10);

$topbar-mobile-width:   220px;